* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}
.nav-bar{
  height: 40px;
  width: auto;
  background-color: rgba(0,0,0,1);
  display: flex;
}
.nav-list {
  margin: auto 0 auto 0;
  width: auto;
  font-size: 16px;
}
.nav-list li{
  font-family: 'Courier New', Courier, monospace;
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-list li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header{
  background-image: url(assets/img-intro.jpg);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 197px;
}
.quote-block {
  position: absolute;
  top: 65px;
  right: 50px;
  width: 600px;
  background-color: rgba(0,0,0,0.25);
}
.quote{
  font-family: Garamond;
  padding: 10px 10px 0 10px;
  font-weight:lighter;
  font-size: 28px;
}
.cite {
  font-family: Garamond;
  padding: 10px 10px 10px 10px;
  font-size: 28px;
  text-align: end;
  font-style:normal;
}
.clickScarry {
  font-family: Garamond;
  font-weight: bold;
  text-decoration: none;
}
.content {
  border-top: 40px black solid;
  background-image: url(assets/img-back.jpg);
  background-size: cover;
  width: auto;
  display: flex;
}
.left-content {
  width: 30%;
}
.intro-block {
  margin: 0 50px 0 50px;
  background-color: rgba(0,0,0,0.5);
  width: 340px;
  padding: 15px 10px 110px 10px;
}
.intro-logo {
  color: white;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  font-size: 24px;
}
.intro-text{
  font-family: monospace;
  padding-bottom: 5px;
  font-size: 14px;
}
.right-content {
  width: 70%;
}
.card-block{
  margin-left: 50px;
  margin-right: 50px;
  padding: 15px 10px 49px 10px;
  /*background-color: rgba(240,240,240,0.25);*/
}
.right-logo-box{
  margin: auto;
  text-align: center;
  width:fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(240,240,240,0.5);
}
.right-logo {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 24px;
}
.content-card{
  width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 0;
}
/* КАРТОЧКИ ДОЛЖНЫ ПЕРЕБИРАТЬСЯ НА ДРУГУЮ СТРОЧКУ*/
.card{
  display: inline-block;
  margin-right: 0;
  width: 210px;
  height: 350px;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
}
.new-character-card-image {
  display: block;
  margin: 0 auto 0 auto;
  width: 75%;
  height: 55%;
  object-fit: contain;
}
.new-character-card-image:hover {
  cursor: pointer;
}
.card-last {

  margin: 0 0 0 0;
}
.card:hover{
  border: 1px solid white;
}
.card-image{
  display: block;
  margin: 0 auto 0 auto;
  width: 75%;
  height: 55%;
  object-fit: cover;
}
.card-name{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-align: center;
  padding: 5px 0 10px 0;
}
.card-text{
  font-size: 14px;
  text-align: justify;
}
.info {
  height: 40px;
  width: 100%;
  background-color: rgba(0,0,0,1);
  display: flex;
}
.info-list{
  list-style: none;
  margin: auto;
  display: flex;
}
.info-list li{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin: 0 20px 0 20px;
  display: inline-block;
}

